In [1]:
from schedule_reader import compdat2df, welspec2df
from schedule_reader import wconprod2df, wconinje2df, wconhist2df, wconinjh2df
from schedule_reader import property2df, keyword2df, get_dimens
from schedule_reader import read_data, extract_keyword

This demo is run reading the AMAP case of the Heidrun full field model

In [2]:
path = '/project/HDsim/ressim/2023a/eclipse/model/FF18_2023A_AMAP.DATA'

# well definition keywords

## `welspec2df()` to extract _WELSPECS_ and _WELSPECL_ 
Reads recursively the *.DATA* file and every include listed in the *SCHEDULE* section and inside its include.
Returns a dataframe of the **WELSPES**, **WELSPECL** and **WELLSPEC** keywords data, together with the DATE when these keywords are applied.

In [4]:
welspec2df(path)

,date,well,group,I,J,reference depth,preferred phase,drainage radius,inflow equation,automatic shut-in,crossflow,pressure table,density calculation,FIP region,_reserved1,_reserved2,well model,polymer
184,1995-10-07,A_1,A_M,46,64,2051.5,LIQ,<NA>,<NA>,SHUT,YES,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
185,1995-10-07,A_10,UT_C,33,79,2092,LIQ,<NA>,<NA>,SHUT,YES,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
186,1995-10-07,A_11_BT2,A_N,62,74,2356,LIQ,<NA>,<NA>,SHUT,YES,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
187,1995-10-07,A_12_A,F_X,66,109,2156,LIQ,<NA>,<NA>,SHUT,YES,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
188,1995-10-07,A_12_B,F_X,63,92,2245.3,LIQ,<NA>,<NA>,SHUT,YES,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30986,2025-06-04,AWI-K1,A_K,57,63,2166.5884,WATER,<NA>,<NA>,SHUT,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
31057,2027-02-11,AOP-M19,A_M,42,82,2129.54023,OIL,<NA>,<NA>,SHUT,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
31121,2028-05-15,A_43_B,UT_GH,41,96,2235.05056,OIL,<NA>,<NA>,SHUT,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
31214,2030-12-02,A_3_B,GASPROD,52,68,2146.408,GAS,<NA>,<NA>,SHUT,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
31382,2034-01-01,D_5_AH,A_N,66,59,2359.72085,OIL,<NA>,<NA>,SHUT,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

## `compdat2df()` to extract _COMPDAT_ and _COMPDATL_
Reads recursively the *.DATA* file and every include listed in the *SCHEDULE* section and inside its include.
Returns a dataframe of the **COMPDAT**, **COMPDATL** and **COMPDATM** keywords data, together with the DATE when these keywords are applied.

In [5]:
compdat2df(path)

,date,well,I,J,K_up,K_low,status,saturation table,transimissibility factor,well bore diameter,Kh,skin,D-factor,direction,pressure equivalent radius
480,1995-10-07,A_1,46,64,68,68,OPEN,<NA>,10.169155,0.216,829.930408,0.0,NaN,Y,8.558425
481,1995-10-07,A_1,46,64,69,69,OPEN,<NA>,36.518001,0.216,2987.619740,0.0,NaN,Y,8.650496
482,1995-10-07,A_1,46,64,70,70,OPEN,<NA>,34.595975,0.216,2833.307490,0.0,NaN,Y,8.689878
483,1995-10-07,A_1,46,64,71,71,OPEN,<NA>,46.856230,0.216,3717.848020,0.0,NaN,Y,7.579715
484,1995-10-07,A_1,46,64,72,72,OPEN,<NA>,8.650684,0.216,688.952492,0.0,NaN,Y,7.700682
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31392,2034-01-01,D_5_AH,67,60,11,11,OPEN,<NA>,60.975781,0.216,5462.778140,0.0,NaN,X,13.121958
31393,2034-01-01,D_5_AH,67,60,12,12,OPEN,<NA>,17.944481,0.216,1607.324570,0.0,NaN,X,13.109853
31394,2034-01-01,D_5_AH,67,60,13,13,OPEN,<NA>,0.310372,0.216,23.159845,0.0,NaN,X,5.884143
31395,2034-01-01,D_5_AH,67,60,14,14,OPEN,<NA>,4.129441,0.216,325.011274,0.0,NaN,X,7.324224
31396,2034-01-01,D_5_AH,67,60,15,15,OPEN,<NA>,3.099756,0.216,266.642583,0.0,NaN,X,10.838259

# well production and injection control and history keywords

## `wconprod2df()` to extract _WCONPROD_
Reads recursively the *.DATA* file and every include listed in the *SCHEDULE* section and inside its include.
Returns a dataframe of the **WCONPROD** keyword data, together with the DATE when this keywords is applied.

In [6]:
wconprod2df(path)

,date,well,status,control mode,OIL rate,WATER rate,GAS rate,LIQUID rate,RESERVOIR fluid rate,BHP limit,...,VFP,ALQ,wet gas rate,total molar rate,steam rate,pressure offset,temperature offset,calorific target rate,linearly combined rate,NGL rate
30365,2023-05-01,A_7_T2,SHUT,GRUP,NaN,NaN,1360000,NaN,<NA>,100,...,1,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30366,2023-05-01,A_22,SHUT,GRUP,NaN,NaN,1360000,NaN,<NA>,100,...,2,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30367,2023-05-01,A_23,OPEN,GRUP,NaN,NaN,1360000,NaN,<NA>,80,...,5,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30368,2023-05-01,A_47,OPEN,GRUP,NaN,NaN,1360000,1200,<NA>,80,...,6,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30369,2023-05-01,A_16,OPEN,GRUP,NaN,NaN,1360000,NaN,<NA>,60,...,8,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31603,2038-11-23,AOP-K2,SHUT,GRUP,700,NaN,1360000,6000,<NA>,100,...,106,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
31618,2039-03-02,LTAOP-I4,SHUT,GRUP,700,NaN,1360000,6000,<NA>,80,...,106,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
31653,2040-02-26,FTGP-I1,SHUT,GRUP,NaN,500,2000000,NaN,<NA>,40,...,100,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
31655,2040-03-01,LTAOP-I9,SHUT,GRUP,700,NaN,1360000,6000,<NA>,100,...,106,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
31676,2040-11-29,A_3_B,SHUT,GRUP,NaN,500,2000000,NaN,<NA>,40,...,100,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

## `wconhist2df()` to extract _WCONHIST_
Reads recursively the *.DATA* file and every include listed in the *SCHEDULE* section and inside its include.
Returns a dataframe of the **WCONHIST** keyword data, together with the DATE when this keyword is applied.

In [7]:
wconhist2df(path)

c:\Users\MARAY\OneDrive - Equinor\Documents\git\schedule_reader\src\schedule_reader\wcon.py:87: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  wconhist_table.loc[:, ['VFP']].fillna(method='ffill', inplace=True)

,date,well,status,control mode,OIL rate,WATER rate,GAS rate,VFP,ALQ,THP limit,BHP limit,wet gas rate,NGL rate
2531,1995-10-07,A_1,SHUT,LRAT,0,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>
2532,1995-10-07,A_10,SHUT,LRAT,0,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>
2533,1995-10-07,A_11_BT2,SHUT,LRAT,0,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>
2534,1995-10-07,A_12_A,SHUT,LRAT,0,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>
2535,1995-10-07,A_12_B,SHUT,LRAT,0,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30255,2023-04-01,E_2_CHT2,OPEN,RESV,466.229309,32.0091248,65198.1719,29,<NA>,<NA>,<NA>,<NA>,<NA>
30256,2023-04-01,E_3_HH,OPEN,RESV,217.318817,87.8096008,122532.758,NaN,<NA>,<NA>,<NA>,<NA>,<NA>
30257,2023-04-01,E_4_AH,OPEN,RESV,13.3823433,26.3559647,5027.14941,22,<NA>,<NA>,<NA>,<NA>,<NA>
30272,2023-04-20,A_32_AT3,SHUT,ORAT,0,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>
30273,2023-04-20,A_42_B,SHUT,ORAT,0,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>

## `wconinje2df()` to extract _WCONINJE_
Reads recursively the *.DATA* file and every include listed in the *SCHEDULE* section and inside its include.
Returns a dataframe of the **WCONINJE** keyword data, together with the DATE when this keyword is applied.

In [8]:
wconinje2df(path)

,date,well,injector type,status,control mode,SURFACE fluid rate,RESERVOIR fluid rate,BHP limit,THP limit,VFP,vap oil concentration,thermal ratio of gas to steam,OIL proportion,WATER proportion,GAS proportion,ratio of oil oil to steam
30660,2023-05-01,A_38,GAS,SHUT,BHP,NaN,<NA>,300,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30661,2023-05-01,A_2_A,WATER,SHUT,BHP,400,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30662,2023-05-01,A_3_A,GAS,SHUT,RATE,1000000,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30663,2023-05-01,A_13_AT3,WATER,OPEN,BHP,1300,<NA>,370,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30664,2023-05-01,A_14_C,WATER,OPEN,BHP,2200,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30665,2023-05-01,A_20_B,WATER,OPEN,BHP,2200,<NA>,300,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30666,2023-05-01,A_33_B,WATER,SHUT,BHP,750,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30667,2023-05-01,A_34_B,WATER,OPEN,BHP,400,<NA>,360,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30668,2023-05-01,A_37_T3,WATER,SHUT,BHP,2200,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30669,2023-05-01,A_40_B,WATER,OPEN,BHP,2200,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30670,2023-05-01,A_49,WATER,SHUT,BHP,2000,<NA>,370,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30671,2023-05-01,A_55_T2,WATER,SHUT,BHP,2200,<NA>,360,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30672,2023-05-01,A_56,WATER,OPEN,BHP,2500,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30673,2023-05-01,B_1_H,WATER,SHUT,BHP,NaN,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30674,2023-05-01,B_2_H,WATER,SHUT,BHP,NaN,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30675,2023-05-01,B_3_H,WATER,SHUT,BHP,NaN,<NA>,370,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30676,2023-05-01,C_1_H,WATER,SHUT,BHP,NaN,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30677,2023-05-01,C_2_H,WATER,SHUT,BHP,NaN,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30678,2023-05-01,F_1_AH,WATER,OPEN,BHP,1600,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30679,2023-05-01,F_2_AH,WATER,OPEN,BHP,1500,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30680,2023-05-01,F_3_AH,WATER,SHUT,BHP,NaN,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30681,2023-05-01,F_4_BH,WATER,SHUT,BHP,800,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30682,2023-05-01,A_27_A,WATER,SHUT,BHP,800,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30683,2023-05-01,A_28_DT2,WATER,OPEN,BHP,2500,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30717,2023-05-02,A_55_T2,WATER,OPEN,BHP,2200,<NA>,360,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30755,2023-05-10,TAWI-NN1,WATER,OPEN,BHP,1500,<NA>,300,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30758,2023-05-15,A_2_A,WATER,OPEN,BHP,800,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30771,2023-07-01,A_3_A,GAS,OPEN,RATE,1000000,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30831,2023-10-01,A_33_B,WATER,OPEN,BHP,2000,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30834,2023-11-01,A_49,WATER,OPEN,BHP,2000,<NA>,370,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30925,2024-05-18,AWI-M7,WATER,OPEN,BHP,1500,<NA>,300,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30931,2024-07-01,A_27_A,WATER,OPEN,BHP,500,<NA>,300,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30934,2024-08-01,A_37_T3,WATER,OPEN,BHP,2200,<NA>,350,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
30998,2025-06-04,AWI-K1,WATER,OPEN,BHP,750,<NA>,300,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
31582,2038-05-06,TAWI-NN1,WATER,SHUT,BHP,1500,<NA>,300,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
31624,2039-05-15,AWI-M7,WATER,SHUT,BHP,1500,<NA>,300,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
31662,2040-05-31,AWI-K1,WATER,SHUT,BHP,750,<NA>,300,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

## `wconinjh2df()` to extract _WCONINJH_
Reads recursively the *.DATA* file and every include listed in the *SCHEDULE* section and inside its include.
Returns a dataframe of the **WCONINJH** keyword data, together with the DATE when this keyword is applied.

In [9]:
wconinjh2df(path)

c:\Users\MARAY\OneDrive - Equinor\Documents\git\schedule_reader\src\schedule_reader\wcon.py:114: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  wconinjh_table.loc[:, ['VFP']].fillna(method='ffill', inplace=True)

,date,well,injector type,status,injection rate,BHP,THP,VFP,vap oil concentration,OIL proportion,WATER proportion,GAS proportion,control model
2640,1995-10-07,A_14_C,WATER,SHUT,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,RATE
2641,1995-10-07,A_15_A,WATER,SHUT,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,RATE
2642,1995-10-07,A_20_A,WATER,SHUT,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,RATE
2643,1995-10-07,A_20_B,WATER,SHUT,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,RATE
2644,1995-10-07,A_25_T2,WATER,SHUT,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,RATE
...,...,...,...,...,...,...,...,...,...,...,...,...,...
30266,2023-04-01,A_56,WATER,OPEN,1799.7937,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,RATE
30267,2023-04-01,F_1_AH,WATER,OPEN,1373.09863,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,RATE
30268,2023-04-01,F_2_AH,WATER,OPEN,1318.43738,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,RATE
30270,2023-04-09,A_38,GAS,SHUT,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,RATE
30274,2023-04-20,A_3_A,GAS,SHUT,0,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,RATE

# any other keyword
Any keyword can be extracted, but only the keywords presented before are identified and the dataframe accordingly formatted.
For other keywords the DataFrame will be returned but the columns will not have names.
  
## _DATES_
In the case of DATES keywords, a Series with every appearence of the keyword will be extracted (not only when other keywords appears in the SCHEDULE).

In [10]:
dates = keyword2df(path, 'DATES', verbose=False)
dates

0      1995-10-01
1      1995-10-02
2      1995-10-06
3      1995-10-07
4      1995-11-01
          ...
1492   2046-11-01
1493   2046-11-15
1494   2046-12-01
1495   2046-12-15
1496   2047-01-01
Name: DATES, Length: 1497, dtype: datetime64[ns]

## any other keyword
Any other schedule keyword can be extracted, but the column names will not be automatically set.  
  
A `list` with the names of the columns can be provided by the user using the keyword `record_names` and the column names will be set.  
The list of names can contain only the first records that might be of interest to the user, the remaining records will be labeled numerically.  
If more record names than columns in the data are provided, the missing columns data will be filled with `None`.

### example extracting _GCONPROD_

In [11]:
keyword2df(path, 'GCONPROD')

,date,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
30330,01 'MAY' 2023,FIELD,GRAT,36900.0,36000.0,FUGTARG,<NA>,RATE,YES,<NA>,<NA>,RATE,RATE,RATE,<NA>,<NA>,<NA>

### example extracting _GCONINJE_:

In [12]:
keyword2df(path, 'GCONINJE')

                date      1      2     3      4
30331  01 'MAY' 2023  FIELD  WATER  RATE  49200

and _GCONINJE_ while providing the record names of interest:

In [13]:
keyword2df(path, 'GCONINJE', record_names=['GROUP', 'PHASE', 'CONTROL MODE', 'SURFACE RATE'])

                date  GROUP  PHASE CONTROL MODE SURFACE RATE
30331  01 'MAY' 2023  FIELD  WATER         RATE        49200

and extracting _GCONINJE_ providing more record names than columns the data has:

In [14]:
keyword2df(path, 'GCONINJE', record_names=['GROUP', 'PHASE', 'CONTROL MODE', 'SURFACE RATE', 
                                           'TOTAL RES VOL RATE', 'REINJECTION FRACTION', 'VOIDAGE REPLACEMENT', 
                                           'RESPOND TO HIGHER LEVEL', 
                                           'INJECTION GUIDE RATE', 
                                           'REINJETION GROUP', 'VOIDAGE GROUP',
                                           'WET GAS RATE'])

The last 8 records were not present in the dataset.

,date,GROUP,PHASE,CONTROL MODE,SURFACE RATE,TOTAL RES VOL RATE,REINJECTION FRACTION,VOIDAGE REPLACEMENT,RESPOND TO HIGHER LEVEL,INJECTION GUIDE RATE,REINJETION GROUP,VOIDAGE GROUP,WET GAS RATE
30331,01 'MAY' 2023,FIELD,WATER,RATE,49200,None,None,None,None,None,None,None,None

### example extracting _WELOPEN_:

In [15]:
keyword2df(path, 'WELOPEN')

                date        1     2    3    4    5    6    7
17771  31 'AUG' 2008   A_24_A  SHUT  NaN  NaN   75  NaN  NaN
28154  23 'OCT' 2021      A_4  SHUT  NaN  NaN  NaN    1    1
28207  24 'OCT' 2021      A_4  SHUT  NaN  NaN  NaN    2    2
28280  31 'OCT' 2021      A_4  OPEN  NaN  NaN  NaN    2    2
28389  22 'NOV' 2021      A_4  SHUT  NaN  NaN  NaN    2    2
...              ...      ...   ...  ...  ...  ...  ...  ...
31761  09 'MAR' 2044  A_37_T3  SHUT    0    0    0  NaN  NaN
31774  26 'AUG' 2044     A_56  SHUT  NaN  NaN  NaN  NaN  NaN
31775  26 'AUG' 2044     A_56  SHUT    0    0    0  NaN  NaN
31821  28 'JUN' 2046   A_48_A  SHUT  NaN  NaN  NaN  NaN  NaN
31822  28 'JUN' 2046   A_48_A  SHUT    0    0    0  NaN  NaN

[188 rows x 8 columns]

and extracting _WELOPEN_ providing the first two record names:

In [16]:
keyword2df(path, 'WELOPEN', record_names=['well', 'status'])

                date     well status    3    4    5    6    7
17771  31 'AUG' 2008   A_24_A   SHUT  NaN  NaN   75  NaN  NaN
28154  23 'OCT' 2021      A_4   SHUT  NaN  NaN  NaN    1    1
28207  24 'OCT' 2021      A_4   SHUT  NaN  NaN  NaN    2    2
28280  31 'OCT' 2021      A_4   OPEN  NaN  NaN  NaN    2    2
28389  22 'NOV' 2021      A_4   SHUT  NaN  NaN  NaN    2    2
...              ...      ...    ...  ...  ...  ...  ...  ...
31761  09 'MAR' 2044  A_37_T3   SHUT    0    0    0  NaN  NaN
31774  26 'AUG' 2044     A_56   SHUT  NaN  NaN  NaN  NaN  NaN
31775  26 'AUG' 2044     A_56   SHUT    0    0    0  NaN  NaN
31821  28 'JUN' 2046   A_48_A   SHUT  NaN  NaN  NaN  NaN  NaN
31822  28 'JUN' 2046   A_48_A   SHUT    0    0    0  NaN  NaN

[188 rows x 8 columns]

### example extracting _WPIMULT_:

In [17]:
keyword2df(path, 'WPIMULT')

                date         1       2    3    4    5     6     7
2740   07 'OCT' 1995  A_29_AY1    0.25  NaN  NaN   44  <NA>  <NA>
2741   07 'OCT' 1995  A_29_AY1    0.25  NaN  NaN   45  <NA>  <NA>
10894  03 'DEC' 1995      A_17       5  NaN  NaN  NaN  <NA>  <NA>
10948  07 'FEB' 1996      A_20       2  NaN  NaN   26  <NA>  <NA>
10949  07 'FEB' 1996      A_20    0.01  NaN  NaN   28  <NA>  <NA>
...              ...       ...     ...  ...  ...  ...   ...   ...
24653  26 'SEP' 2017    A_53_A       5  NaN  NaN  NaN  <NA>  <NA>
24916  30 'JAN' 2018  A_36_BT3       5  NaN  NaN  NaN  <NA>  <NA>
24999  05 'FEB' 2018    A_17_D      10  NaN  NaN  NaN  <NA>  <NA>
25648  01 'NOV' 2018    A_19_B  0.0001  NaN  NaN  NaN  <NA>  <NA>
26587  01 'DEC' 2019    D_2_DH  0.0001  NaN  NaN   10  <NA>  <NA>

[358 rows x 8 columns]